{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Overlord</title>
        <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
        <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" media="screen">
        <!-- Selfnet Stylesheet -->
        <link rel="stylesheet" href="{% static 'css/custom.css' %}" media="screen">
        {% block customstyles %}
        {% endblock %}
        <!-- Fonts -->
        <link rel="stylesheet" href="{% static 'css/fonts.css' %}" media="screen">
        <!-- end -->
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

        <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>

        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="{% static 'js/lightbox.js' %}"></script>
	<script src="{% static 'js/jquery.colorbox.js' %}"></script>
	<script src="{% static 'js/freewall.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/lightbox.css' %}">
	<link rel="stylesheet" href="http://www.jacklmoore.com/colorbox/example3/colorbox.css">

        <script src="{% static 'js/overlord.js' %}"></script>

        <!-- Highcharts --!>
        <script src="{% static 'js/highcharts.js' %}"></script>
        <script src="{% static 'js/highcharts-exporting.js' %}"></script>
        <!-- end --!>

        <script type="text/javascript">
        function toggle(control){
                var elem = document.getElementById(control);

                if(elem.style.display == "none"){
                        elem.style.display = "inherit";
                }else{
                        elem.style.display = "none";
                }
        }
        </script>
        <script>
            $.datepicker.setDefaults( { dateFormat: "dd.mm.yy" } );
        </script>

    </head>
    <body>
        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <!--<img src="{% static 'img/selfnet_fahne.png' %}" alt="" id="selfnet_fahne_">-->
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'home' %}">Overlord</a>
	    </div>

            <div class="collapse navbar-collapse" id="navbar-main">
              <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown">
                    Imagesets <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url 'imagesets_public' %}"><span class="glyphicon glyphicon-globe"></span> Public imagesets</a></li>
		    {% if request.user.is_authenticated %}
                    <li><a href="{% url 'imagesets' %}"><span class="glyphicon glyphicon-list"></span> Imagesets</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'imageset_add' %}"><span class="glyphicon glyphicon-plus"></span> Add</a></li>
		    {% endif %}
                  </ul>
                </li>
		{% if request.user.is_authenticated %}
		<li><a href="{% url 'upload' %}"><span class="glyphicon glyphicon-cloud-upload">Upload</span></a></li>
		{% endif %}
              </ul>
              <ul class="nav navbar-nav navbar-right">
                {% if not request.user.is_authenticated %}
                <li><a href="{% url 'accounts_login' %}">Login</a></li>
                {% else %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>{{ request.user.username }} <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    {% if request.user.is_staff %}
                    <li><a href="/admin/"><span class="glyphicon glyphicon-dashboard"></span> Admin</a></li>
                    <li class="divider"></li>
                    {% endif %}
                    {#<li><a href="{% url 'password_change' %}">Change password</a></li>#}
                    <li id="logout_"><a href="{% url 'accounts_logout' %}"><span class="glyphicon glyphicon-off"></span> Logout</a></li>

                  </ul>
                </li>
                {% endif %}
              </ul>
            </div>

            </div>
          </div>
        </div>


        <div class="container-fluid">
            <div id="messages-content" class="">
                {% include 'messages.html' %}
            </div>
            {% block content %}
                Here goes the content.
            {% endblock %}

            {% block footer %}
                {# (Optional) Here goes the components footer. Containers across content and footer are allowed #}
            {% endblock %}
        </div>

        <div class="footer">
            <div class="container-fluid">
                <p class="text-muted credit pull-left">
                    Powered by <a href="http://www.meymarce.com/">meymarce.com</a>
                </p>
                <!--<div class="pull-right">
                    <a href="http://www.selfnet.de/kontakt/"></a>
                </div>-->
            </div>
        </div>

	<!-- Modal -->
        <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog modal-lg">
		<div class="modal-content">
		    <div class="modal-body">
			...
		    </div>	
		    <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
<!--			<button type="button" class="btn btn-primary">Save changes</button> -->
		    </div>
		</div>
	    </div>
        </div>



    </body>
</html>
