<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" media="screen">
        <link rel="stylesheet" href="/static/css/custom.css" media="screen">
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="/static/js/jquery.colorbox.js"></script>
        <link rel="stylesheet" href="http://www.jacklmoore.com/colorbox/example3/colorbox.css">

        <script src="/static/js/overlord.js"></script>
    </head>
    <body>

<div id="overlord_embedded"></div>
<script src="/static/js/embed.js"></script>

    </body>
</html>
